html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

#header {
    position: fixed;
    height: 50px;
    width: 100vw;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header #header-left {
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: start;
}
#header #header-right {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: end;
}
#header a {
    display: flex;
    height: inherit;
    align-items: center;
    padding: 0 10px;
}
#header i {
    color: white;
    padding-right: 5px;
}
#footer {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100vw;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 15px;
}
#content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-bottom: 30px;
    padding: 50px 0 30px 0;
    box-sizing: border-box;
    display: flex;
    z-index: -2;
    align-items: center;
}
.active {
    background-color: green;
}

.box {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 0 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}